<%- include('../adminLayout/header.ejs') %>

  <%- include('../adminLayout/sidebar.ejs') %>

    <%- include('../adminLayout/navbar.ejs') %>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <h1> dash board</h1>

          </div>
        </div>
      </div>


      <%- include('../adminLayout/footer.ejs') %>