

<header class="header header-7">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
               

                <div class="header-dropdown">
                    <a href=""></a>
                 
                </div><!-- End .header-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">User</a>
                        <ul>
                            <% if (session != null) { %>
                                <li><a href="/wishList"><i class="icon-heart-o"></i>My Wishlist </a></li>
                            <% } else { %>
                                <li>  <a onclick="plzlogin()" ><i class="icon-heart-o"></i>My Wishlist </a></li>
                                </a>
                            <% } %>
                          
                           
                            <!-- <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Logout</a></li> -->
                          <%  if(session==null){ %>
                            <li><a href="/login"><i class="icon-user"></i>login</a></li>
                            <li><a href="/register"><i class="icon-user"></i>register</a></li>
                            
                          
                        <%  
                    }else{ 
                        %>
                        <li><a href="/userProfile"><i class="icon-user"></i><%= user.name  %></a></li>
                       
                       <% 
                    }
                     %>   
                            
                              
                                
                            
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-top -->

    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars text-dark"></i>
                </button>
                
                <a href="/" class="logo">
                    <img src="/userAssets/images/logo/kurrah.png" alt="Kurrah logo" width="90" height="20">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="sf-with-ul">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul">Shop</a>

                        </li>
                        
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="header-search header-search-extended header-search-visible">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="search" id="q" placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit" value="search"><i class="icon-search"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                
                <div class="dropdown cart-dropdown">
                    <% if (session != null) { %>
                        <a href="/cart" class="dropdown-toggle">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    <% } else { %>
                        <a onclick="plzlogin()"  class="dropdown-toggle">
                            <i class="icon-shopping-cart"></i> 
                        </a>
                    <% } %>
                    
                   
                   
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->