<%- include('../userLayout/header.ejs')%>

    <%- include('../userLayout/head.ejs') %>
    
   
    

    
    <div class="page-wrapper">
      <main>
        <section class="about">
          <div class="container">
            <h2>About Kurrah</h2>
            <div class="content">
              <div class="left">
                <img src="/userAssets/images/logo/Kurrah.png" width="150" height="50" alt="About Kurrah">
              </div>
              <div class="right">
                <h3>Discover the World of Football</h3>
                <p>At Kurrah, we are passionate about football, the beautiful game that unites people from all around the globe. Our aim is to provide a platform where football enthusiasts can come together to explore and celebrate the sport they love.</p>
                <p>As part of our commitment to delivering the best football experience, we proudly offer a wide variety of high-quality football balls. Each ball is crafted with precision and designed to enhance your performance on the field. From match balls to training balls, we have the perfect ball for every player and every game.</p>
                <p>At Kurrah, we believe that the right equipment can make a significant difference in your playing experience. That's why we meticulously source and test our football balls to ensure they meet the highest standards of quality, durability, and performance.</p>
                <p>Founded by Minhaj, a football enthusiast with a passion for the game, Kurrah strives to provide football lovers with the best products and a platform to connect, learn, and engage with the world of football.</p>
              </div>
            </div>
          </div>
        </section>
    
        <section class="quote mt-5">
          <div class="container">
            <blockquote>
             <h4> "Football is not just a game; it's an art, a passion, a way of life."</h4>
              <cite>- Minhaj</cite>
            </blockquote>
          </div>
        </section>
      </main>
    </div>
   
      <%- include('../userLayout/footer.ejs') %>
