<%- include('../userLayout/header.ejs')%>

    <%- include('../userLayout/head.ejs') %>


    <div  class="error-content text-center "  style="background-image:  url(/userAssets/images/emptyCart/mini-empty-cart.png) ; background-size: contain;">
        <div class="container">
            <h1 class="error-title" style="color: brown;">The Cart Is Empty</h1><!-- End .error-title -->
            <p>Add something .</p>
            <a href="/shop" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>BACK TO SHOP</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->



    <%- include('../userLayout/footer.ejs') %>